<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Username</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <main>
      <form class="username-form" action="/" method="POST">
        <label class="title">Type Username</label>
        <input class="text" name="title" id="title" />
        <button class="btn" type="submit">Add Name</button>
      </form>
    </main>
  </body>
</html>
